* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONTAINER */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #009688;
    min-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 80%;
    height: 95%;
}
/* COL Left */
.left-col {
    width: 35%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.column-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.431);
}
.user-image img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.info-user {
    display: flex;
    align-items: center;
}
.user-icon {
    display: flex;
    align-items: center;
}
.user-icon i {
    font-size: 22px;
    color: grey;
    margin-left: 12px;
}
.notification {
    background-color: #8EDAFC;
    padding: 15px;
    display: flex;
}
.notification-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-icon i {
    font-size: 25px;
    color: #8EDAFC;
}
.notification-text {
    font-size: 17px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.notification-text a {
    font-size: 15px;
    color: grey;
}
.search {
    padding: 10px;
}
.search-container {
    position: relative;
}
.search-input {
    width: 100%;
    padding: 7px 7px 7px 40px;
}
.search-icon {
    position: absolute;
    top: 9px;
    left: 13px;
    color: grey;
}
.contacts {
    flex-grow: 1;
}
.contact {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.contact-info {
    display: flex;
    flex-direction: row;
}
.contact-image img {
    width: 60px;
    border-radius: 50%;
}

/* COL Right */
.right-col {
    width: 65%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: white;
}
